@media (max-width: 768px) {
    .about-container {
      background-position: center top !important;
      background-size: 80% !important;
      min-height: 300px !important;
    }
    .about-content {
      margin-top: 200px !important;
    }
    .about-title {
      padding-top: 20px;
      text-align: center;
    }
  }